body {
    background-color: #303030;
    overflow: hidden;
}
.Controls {
    z-index: 2;
    position: absolute;
    text-align: center;
    bottom: 9em;
}
#submit {
    width: 150px;
    height: 50px;
}
.block {
    border-color: black;
    border-width: 50px;
    display: inline-block;
}
#submit {
    border: hidden;
    font-family: Arial,Helvetica,sans-serif;
    font-weight : bold ;
    font-size: 25px;
}

#canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: none;
    z-index: 1;
}

.bubble {
    z-index: 1;
    border-radius: 25px;
    font-family: sans-serif;
    position: absolute;
    background-color: white;
    width: 200px;
    height: 100px;
    bottom: 1rem;
    padding: 20px;
}
.bubble p {
    margin-top: 5px;
    color: black;
    text-align: center;
    font-size: 30px;
}
